<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit user</title>
</head>
<body>

    <div align="center">
        <h1>Edit User</h1>
        <form action="/updateUser" method="post">
            <input type="text" name="eId" value="<%= single.id%>" hidden>
            <table border="1">
                <tr>
                    <td>Name : </td>
                    <td><input type="text" name="name" value="<%= single.userName%>"></td>
                </tr>
                <tr>
                    <td>Email : </td>
                    <td><input type="text" name="email" value="<%= single.userEmail%>"></td>
                </tr>
                <tr>
                    <td>Password : </td>
                    <td><input type="text" name="password" value="<%= single.userPassword%>"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Update">
                    </td>
                </tr>
            </table>
        </form>
        <a href="/viewUser">view</a>
    </div>
    
</body>
</html>