/* General Styling */
body {
    background-image: url('https://media.istockphoto.com/id/1440574824/vector/abstract-light-blue-graphic-design-presentation-background-web-template.jpg?s=612x612&w=0&k=20&c=l03G-gmFxWvlhn4uIaQnKlDp2KQ-7xqQ4KHp_LPSyEI=');
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

/* Header start */
.header {
    background: #c0dbeb;
    padding: 20px;
    color: grey;
    border-radius: 10px;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 35px;
    margin: 0;
    color: grey;
}

/* Form Section */
.form {
    padding: 15px;
    background: #c0dbeb;
    border-radius: 10px;
    text-align: center;
}

/* Form Styling */
.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
}

.form-group label {
    font-weight: bold;
    color: grey;
    margin-right: 15px;
    text-align: right;
    width: 30%;
    /* Fixed width for label */
}

.form-group input {
    width: 65%;
    /* Flexible width for input */
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    /* Light cream background for inputs */
    color: black;
}

.form-group input:focus {
    outline: none;
    border-color: skyblue;
}

/* Button Section */
.form-buttons {
    margin-top: 20px;
    text-align: center;
}

.form-buttons .btn {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    margin: 0 10px;
}

.submitBtn {
    background: grey;
    border: none;
    color: #fff;
}

.submitBtn:hover {
    background: #1D362B;
    /* Darker green */
}

.cancelBtn {
    background: #E63946;
    /* Red for cancel button */
    color: #fff;
}

.cancelBtn:hover {
    background: #B22A37;
    /* Darker red */
}

select {
    width: 65%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
}

select:focus {
    outline: none;
    border-color: grey;
}